[submodule "smartgf.vim"]
	path = bundle/smartgf.vim
	url = https://github.com/gorkunov/smartgf.vim.git
[submodule "ftcolor.vim"]
	path = bundle/ftcolor.vim
	url = https://github.com/caglartoklu/ftcolor.vim.git
[submodule "vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
